<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>interaction</string>
		<key>urlString</key>
		<string>%@/api/v2/answer_bot/interaction</string>
		<key>method</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>name</key>
		<string>resolve</string>
		<key>urlString</key>
		<string>%@/api/v2/answer_bot/resolution</string>
		<key>method</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>name</key>
		<string>reject</string>
		<key>urlString</key>
		<string>%@/api/v2/answer_bot/rejection</string>
		<key>method</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>name</key>
		<string>viewed</string>
		<key>urlString</key>
		<string>viewed URL</string>
		<key>method</key>
		<string>POST</string>
	</dict>
</array>
</plist>
